.about {
  .flex();

  &__title {
    .set-font(25px; 30px);
  }

  &__list {
    .flex();
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  &__text {
   .set-font(17px; 20px);
   font-weight: bold;
  }
}
