.about {
  margin-top: 30px;
  margin-bottom: 55px;
}

.about__wrapper {
  padding-left: 28px;
  padding-right: 28px;
  .flex();
  flex-direction: column;
}

.about__title {
  .set-font(25px; 30px);

}

.about__list {
  .flex();
  flex-direction: column;
  list-style: none;
}

.about__text {
 .set-font(17px; 20px);
 font-weight: bold;
 padding-top: 80px;
}

