.btn {
  display: block;
  font-family: @main-font, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 17px;
  color: $main-color;
  text-align: center;
  border: 2px solid $main-color;
  padding: 15px;
  padding-top: 17px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
}
