.catalog-video {
  .flex();
}

.catalog-video__wrapper {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 28px;
  padding-bottom: 30px;
  border: 1px solid @line;
}

.catalog-video__title {
  .set-font(17px; 24px);
  font-weight: bold;
  margin-bottom: 18px;
  padding-left: 90px;
}

.catalog-video__text {
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 30px;
}

