.features {

}

.features__wrapper {
  padding-left: 28px;
  padding-right: 28px;
  .flex();
  flex-direction: column;
}

.features__title {
  .set-font(25px; 30px);
}

.features__promo-label {
  .set-font(17px; 20px);
  font-weight: bold;
  color: @dark-turquoise;
  text-transform: uppercase;
}

.features__text {
  .set-font(15px; 24px);
}

.features__performance {
  margin-bottom: 24px;
}
.features__table-cell {
  border-bottom: 1px solid @line;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 28px;
}

.features__price {
  .set-font(17px; 24px;);
  font-weight: bold;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 26px;
}

