.main-nav {
  padding-top:35px;
  padding-bottom:35px;
  border-color-top: @line;

  &__list {
    .flex();
    flex-direction:row;
    justify-content:space-between;
    margin:0;
    padding:0;
    list-style:none;
    font-size:0;
  }
  &__item {
    display:inline-block;
    vertical-align:top;
    text-align:center;
  }

  &__link {
    .set-font(17px; 24px);
    font-weight:700;
    color:@color;
    text-decoration: none;
  }

  &__link:hover {
    color: @hvr-txt;
  }

  &__link:active {
    color: @down-txt;
  }
}
