.slogan {
  .flex();
  flex-direction: column;
}

.slogan__wrapper{

  &--title {
    background-color: #fbfbfb;
    background-image: url('../img/hero-mobile@1x.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.slogan__title {
  .set-font(27px; 30px);
  text-align: center;
  padding-top: 73px;
  padding-bottom: 115px;
  padding-left: 37px;
  padding-right: 37px;

}

.slogan__items {
  .flex();
  flex-direction: row;
}

.slogan__link {
  position: relative;
  flex-grow: 1;
  text-decoration: none;
  color: #ffffff;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 25px;
  padding-bottom: 31px;

    &--interior {
      background-color: @dark-turquoise;

      &:hover {
        background-color: @hvr-interior;
      }

      &:active {
        background-color:@hvr-interior;
        color: #8be2d0;
      }
    }

    &--toys {
      background-color: #56c3b2;

      &:hover {
        background-color: @hvr-toys;
      }

      &:active {
        background-color: @hvr-toys;
        color: #7ed4c6;
      }
    }
}

.slogan__icon {
  position: absolute;
  right: 35px;
}

.slogan__item {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 30px;
}

.slogan  h2 {
    .set-font(19px; 24px);
    font-weight: bold;
}


